/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* ^^ END OF RESET ^^ */

#wrapper {
  display: grid;
  grid-template-columns: 40ch 1fr;
}

#project-bar h2 {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
  padding: 2rem;
  position: relative;
}

.task-card {
  border: 1px solid rebeccapurple;
  border-radius: 3px;
  padding: 0.5rem;
}


/* DEV - DEBUGGING */
div {
  border: 1px solid red;
}

.blue {
  background-color: aqua;
}

#new-task {
  background-color: red;
}